
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100em;
}

.nav a {
    text-decoration: none;
    color: rgb(97, 79, 79);
    padding: 7px;
}

.nav a:hover {
    text-decoration: underline;
}

.image {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14.8em;
    margin-left: 51.4em;
  }

.search {
    position: relative;
    display: block;
    margin-top: 1.2em;
    margin-left: 51.4em;
    width: 443px;
    height: 34px;
    right:100px;
    top: 10px;
    border: none;
}

.bar {
    position: relative;
    background-color: #fff;
    width: 584px;
    height: 46px;
    top: 70px;
    left:680px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
}

.bar:hover {
    box-shadow: red;
}

.button_box_1 {
    display: inline;
    position: relative;
    color: rgb(66, 55, 55);
    background-color: #f4f7fa;
    border: 1px solid transparent;
    padding: 8px;
    top: 30px;
    left: 795px;
    height: 30px;
    
}

.button_box_2 {
    display: inline;
    position: relative;
    color: rgb(66, 55, 55);
    background-color: #f4f7fa;
    border: 1px solid transparent;
    padding: 3px;
    top: 1px;
    left: 935px;
    
}

.imageclass{
    display: flex;
    flex-wrap: wrap;
}

.advncdimg {
    position: relative;
    top: 20px;
    right: 75px;
}

.label {
    color: #d93025;
    font-size: 20px;
    border-bottom: 1px solid #dfe1e5;
  
}

.created {
    position: relative;
    left: 850px;
    top: 100px;

}

.lense {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    left: 695px;
    bottom: 80px;
}

.header {
    margin: 40px 2% 20px 45px;

}

body {
    font-family: arial,sans-serif;
}

.row.g-3 {
    margin-top: 20px;
    margin-left: 45px;

}

#button-one {

    position: relative;
    width: 572px;
    height: 29px;
    left: 73px;
}

#button-two {
    position: relative;
    width: 572px;
    height: 29px;
}

#button-three {

    position: relative;
    width: 572px;
    height: 29px;
    left: 44px;
}

#button-four {

    position: relative;
    width: 572px;
    height: 29px;
    left: 33px;
}

#button-five {

    position: relative;
    width: 261px;
    height: 29px;
    left: 16px;
}

#button-six {

    position: relative;
    width: 261px;
    height: 29px;
    left: 56px;
    top: 12px;
}

.find-pages {
    position: relative;
    top: 40px;
    left: 50px;
}

.to-do {
    position: relative;
    top: 16px;
    left: 810px;
}

.search-link {
    position: relative;
    left: 2000px;
    top: 10px;
    text-decoration: none;
    color: rgb(66, 55, 55);
}

.search-link:hover {
    text-decoration: underline;
    color: rgb(66, 55, 55);
}